@using Entities
@model Post

<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/css/styles.css" rel="stylesheet" />

<style>

    .bdge {
        height: 21px;
        background-color: orange;
        color: #fff;
        font-size: 11px;
        padding: 8px;
        border-radius: 4px;
        line-height: 3px;
    }

    .comments {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
    }

    .dot {
        height: 7px;
        width: 7px;
        margin-top: 3px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .hit-voting:hover {
        color: blue;
    }

    .hit-voting {
        cursor: pointer;
    }
</style>

<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="text-center post-heading">
                    <h1>@Model.Title</h1>
                    <a asp-controller="Home" asp-action="Index" asp-route-id="@Model.CategoryId">
                        <h3 class="post-subtitle text-white">@Model.Category.Name</h3>
                    </a>

                    <span class="meta">
                        @Model.User.Username tarafından
                        - @Model.CreatedDate.ToString("dd MMMM, yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>